body{
    background-color: #333333;
    overflow-y: hidden;;
}
@font-face {
    font-family: 'Coda';
    src: url("css/Coda-Regular.ttf");
  }
@font-face {
    font-family: "Curi";
    src: url(css/courier-prime-italic.ttf);
}
textarea{
    font-family: Coda;
    font-size: 2vw;
    color: antiquewhite;
    position: absolute;
    top: 3%;
    left: 5%;
    width: 31vw;
    height: 69vh;
    border-style: solid;
    border-radius: 9%;
    border-color: #125190;
    border-width: 1vh;
    background-color: #333333;
    padding: 2%;
    
}
#encriptado{
    background-color: black;
    height: 69%;
    top: 3%;
    z-index: -1;
}

textarea::placeholder{
    top: 5%;
    position: absolute;
    color: #ffff;
    font-size: 2vw;
    font-family: Coda;

    
}
#cont{
    position: absolute;
    top: 6%;
    right: 4%;
    background-image: url(css/Salida.png);
    background-size: cover;
    width: 45vw;
    height: 16vw;
    
}
#Replica{
    top: 5%;
    left: 5%;
    position: absolute;
    width: 74%;
    height: 86%;
    display: flex;
    word-break: break-all;
    word-wrap:break-word;
    font-family: Coda;
    font-size: 2vw;
    color: aliceblue;
    overflow-y: scroll;
}

#Atajos{
    position: absolute;
    top: 48%;
    left: 44%;
    width: 15%;
    height: 40%;
    border-radius: 9%;
    border-color: #a8c3db;
    border-style: solid;
    display: flex;
    justify-content: center;
}
#Atajos p{
    font-family: Coda;
    color: #00bfa6;
    font-size: 2vw;
    
}
#Atajos div{
    height: 80%;
    width: 100%;
    bottom: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    word-break: break-all;
    word-wrap:break-word;

}
#Atajos button{
    border-radius: 12%;
    background: none;
    color: #00bfa6;
    border-color: rgba(255, 255, 255, 0);
    font-family: Curi;
    font-size: 1.4vw;
}
#Atajos button:hover{
    transform: scale(1.10);
    transition: all 500ms;
    border-color: black;
    
}
#imagen img{
    position: absolute;
    width: 23%;
    right: 10%;
    bottom: 10%;
}
#cont2{
    position: absolute;
    top: 6%;
    right: 4%;
    background-image: url(css/Salida.png);
    background-size: cover;
    width: 45vw;
    height: 16vw;
    z-index: -1;
}
#Replica2{
    top: 5%;
    left: 5%;
    position: absolute;
    width: 74%;
    height: 86%;
    display: flex;
    word-break: break-all;
    word-wrap:break-word;
    font-family: Coda;
    font-size: 2vw;
    color: aliceblue;
    overflow-y: scroll;
}
#oculto{
    opacity: 1%;
}
#copiado{
    font-family: coda;
    color: #125190;
    font-size: 5vw;
    position: absolute;
    top: 25%;
    right: 28%;
    visibility: hidden;
}